.vijay{
    background-color: brown;
}
.alia{
    background-color: blueviolet;
}
.keerthi{
    background-color: blue;
}
.pavan{
    background-color: blanchedalmond;
}
.suresh{
    background-color: yellowgreen;
}